.debug1c * {
    all: revert !important;
}

.debug1c form td {
    padding: 4px !important;
}

.debug1c form input[type='radio'], .debug1c form label, .debug1c form button {
    cursor: pointer !important;
}

.debug1c form button {
    margin: 20px !important;
}

.debug1c form button:active {
    background: #CCCCCC !important;
}

.debug1c .exchange-url {
    width: 500px !important;
    height: 30px !important;
}
